.profile-item {
    .square {
         width:140px;
         height:140px;
         background-color:#C5C1AA;
         margin: 0 auto;// 居中
        .circle{
            width:100px;
            height:100px;
            background-color:#BCD2EE;
            border-radius:50%;
            //margin: 0 auto;// 居中
            // margin:10px 10px 10px 10px;
            //margin: 0 auto;// 居中
            margin:0px auto 0px auto ;
        }
        .camera {
             font-size: 30px;
             background-color:#D8D8D8;
             .camera-margin-left {
                margin-left: 60px;
            }
        }
   }
}
