.profile-item {
    border: transparent;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
    text-align:center;
}

.circle{
    width:100px;
    height:100px;
    background-color:$themColor;
    border-radius:50px;
    margin-right: 10px;
}